.page1 {
    display: grid;
}

.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    height: 100vh;
    font-family: sans-serif;
}

.page3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    height: 100vh;
    font-family: sans-serif;
    overflow-y: auto;
}


.main-content {
    grid-column: 1 / span 3;
    height: 100vh;
    overflow-y: auto;
}

.side-panel {
    display: flex;
    position: sticky;
    grid-column: 4 / span 4;
    overflow-y: auto;
    height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column;
    align-items: center;   /* horizontal center */
    padding: 1rem;
}

#page3-main {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.card-outputs {
    grid-column: 1 / span 1;
}


img {
    width: 200px;
    height: 280px;
}

nav-buttons {
    margin: auto;
}



.admin {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.columns {
    grid-column: 1 / span 3;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.column {
    flex: 1;
    min-height: 300px;
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 1rem;
    columns: 2
}

Droppable > .cycle-card {
    cursor: grab;

}

.cycle-card {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cycle-card:active {
    cursor: grabbing;
}

.faq-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.faq {
    border: 1px solid #aaa;
    padding: 0.5rem;
    background: #f0f0f0;
    cursor: pointer;
}

.faq-content {
    margin-top: 0.5rem;
}

.cycle-card:active {
    cursor: grabbing;
}

.preferences {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.filters > label {
    display: block;

}

.preciseSpecs > label {
    display: block;

}

.ranking {
    flex: 1;
    min-height: 300px;
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 1rem;
}


